.side-contents
  .side-ber--user-name
    .top-items
      .top-items--name
        %p  masa
      %ul.top-items--icons
    
        %li.item-edit       
          = link_to new_group_path do
            = icon('fas', 'edit')
        %li.item-system
          =link_to edit_user_path(current_user.id) do
            = icon('fas', 'cog')
      
  .side-ber--group-list
    - current_user.groups.each do |group|
      .group
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message